body {
    font-family: Roboto, sans-serif;
    cursor:default;
    font-size: 1rem;

}
header {
    background-color: #219ebc;
    padding: 0.625rem 4.56rem 0.625rem;
    box-shadow: 0 0 3px blue;
    position: fixed;
    width: 100%;
    z-index: 1;   
    opacity: 1;
}

main {
    top: 3.8em;
    position: relative;
}

.logo {
    margin-right: 0.3125rem;
    display: flex;
    align-items:center;
    color: #d2dce1;
}

.menu-desktop a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.06rem;
}

.menu-desktop a:hover {
    color: rgba(0, 0, 0, 0.475);
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.first-section {
    background-color: rgba(0, 0, 0, 0.497);
    width: 100%;
    top: 0;
    height: 100vh;
    position: relative;
    display: flex;
}


.background-banner-image {
    background-color: rgb(0, 0, 0);
    position: relative;
    
}

.banner-image{
    background-image: url(assets/img/garage-gd5d60b517_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 94vh;
    display: flex;
    opacity: 0.9;
    padding: 0;
    position: relative;

}

section .section-title {
    position:relative;
    margin: 0 5% 0 5%;
    top: 0;
    width: 100vw;
    padding: 18rem 40.7rem 3rem 2.5rem;
}

section .section-title h1 {
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    font-weight: 1000;
    font-family: 'Roboto', 'sans-serif';
    margin-bottom: 0.3rem;
}


section .section-title span {
    color: #ffffffea;
    font-size: 1.2rem;
    font-family: monospace;
    
}

section .div-scroll-down {
    justify-content: end;
    display: flex;
    width: 44vw;
    
}

section .div-scroll-down span {
    font-size: 2.2rem;   
}

.second-section {
    justify-content: space-around;
    background-color: black;
}


@media screen and (min-width: 771px) and (max-width: 992px) {
    .open {
        display: none;
    }

    .banner-image {
        height: 100vh;
    }

    .first-section {
        height: 100vh;
        display: flex;
    }

    section .section-title {
        width: 100vw;
        height: 100vh;
        padding: 37rem 8.6rem 10rem 2.5rem; 
        margin: 0 5% 0 5%; 
      }

      .section-title .subtitle {
        font-size: 2rem;
      }

      section .div-scroll-down span {
        margin: 0;
        font-size: 3.2rem;
      }

      section .div-scroll-down {
        display: flex;
        justify-content: center;
        padding-top: 12rem;
        padding-left: 8rem;
        width: auto;
      }
  
}

@media screen and (min-width: 577px) and (max-width: 770px) {
    
    .nav-bar {
        display: none;
    }

    main {
        display: grid;
        position: relative;
        top: 3.5em;
    }

    .background-banner-image{
        position: relative;
        top: 0;
    }
    .banner-image {
        position: relative;
        display: flex;
        height: 95vh;
        width: 100%;
    }
    .first-section {
        background-color: rgba(0, 0, 0, 0.681);
        width: 100%;
        height: 100vh;
        position: initial;
        display: grid;
    }
    
    .mobile-menu {
        columns: 2;

        }
    header {
        padding: 0.625rem 1.06rem 0.625rem;
    }

    .mobile-menu-icon{
        display: flex;

    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;

    }
    .mobile-options {
        align-items: center;
        background-color: transparent;
        margin: 1px;
        font-size: 0.90rem ;
        columns: 4;
        text-decoration: none;
        color: #ffffff;
    }
    .mobile-options:hover {
        color: rgba(0, 0, 0, 0.475);
    }
    .open {
        display: flex;
    }
    .logo {
        display: none;
    }
    section .section-title {
        width: 100vw;
        height: 92vh;
        top: 29px;
        padding: 32rem 11.6rem 10rem 2.5rem;
        margin: 0;
    }
    section .section-title h1 {
        color: rgb(255, 255, 255);
        font-size: 3rem;
    }
    section .section-title .subtitle {
        color: #ffffffcf;
        font-size: 2.2rem;
        font-family: monospace;
    }

    section .div-scroll-down span {
        margin: 0;
        font-size: 3rem;
        margin-right: 0;
    }

    section .div-scroll-down {
        display: flex;
        justify-content: center;
        padding-left: 12rem;
        padding-top: 8rem;
        width: auto;

    }

}
@media screen and (max-width: 576px) {
   header {
    padding: 0.625rem 1.45rem 0.625rem;
   }
   
    .nav-bar {
        display: none;
    }

    .mobile-menu {
        columns: 2;

        }
    
        .mobile-menu-icon{
            display: flex;
    
        }
        .mobile-menu-icon button {
            background-color: transparent;
            border: none;
            cursor: pointer;
    
        }

    .mobile-options {
        background-color: transparent;
        margin: 0.7px;
        font-size: 1.20rem;
        columns: 2;        
        text-decoration: none;
        color: #ffffff;
    }

    .mobile-options:hover {
        color: rgba(0, 0, 0, 0.475);
    }
    .open {
        display: flex;
    }
    .logo {
        display: none;
    }

    main {
        display: grid;
        position: initial;

    }
    .background-banner-image {
        top: 0;
        position: relative;
    }

    .banner-image {
        position: relative;
        top: 0px;
        height: 100vh;
        width: 100%;
        display: flex;
    }

    .first-section {
        width: 100%;
        height: 100vh;
        position: initial;
        display: grid;
    }

    section .section-title {
       width: 100vw;
       height: 93vh;
       top: 56px;
       padding: 18rem 4.6rem 10rem 2.5rem;
       margin: 0;
    }
    section .section-title h1 {
        color: rgb(255, 255, 255);
        font-size: 2rem;
    }
    section .section-title  .subtitle {
        color: #ffffffbe;
        font-size: 1.5rem;
        font-family: monospace;
    }
    section .div-scroll-down {
        margin-top: 8.2rem;
        display: flex;
        padding-left: 3.6rem;
        justify-content: center;
        width: auto;

    }
    section .div-scroll-down span {
        margin: 0;
        font-size: 3rem;
    }

}

@media screen and (max-width: 470px) {
   main {
    display: grid;
    position: static;
    top: 0;
   }
   .background-banner-image {
    top: 0;
    position: relative;

   }
   .banner-image {
    position: relative;
    height: 100vh;
    display: flex;
   }
   .first-section {
    background-color: rgba(0, 0, 0, 0.597);
    width: 100%;
    height: 100vh;
    position: initial;
    display: grid;
   }
    section .section-title {
        width: 100vw;
        height: 88vh;
        top: 54px;
        padding: 22rem 4rem 5rem 2rem;
        margin: 0;
    }

    section .section-title h1 {
        color: #ffffff;
        font-size: 2rem;
    }

    section .section-title .subtitle {
        font-size: 1.2rem;
    }

    section .div-scroll-down span{
        margin: 0;
        font-size: 2.1rem;
    }

    section .div-scroll-down {
        display: flex;
        justify-content: center;
        padding-left: 1.5rem;
        margin-top: 13rem;
        width: auto;
    }
}

@media screen and (max-width: 376px) {
    
    main {
        display: grid;
        position: static;
    }
    

    .banner-image {
        height: 100vh;
        width: 100%;
    }

    .first-section {
        background-color: rgba(0, 0, 0, 0.47);
        width: 100%;
        height: 100vh;
        position: initial;
        display: grid;
    }

    section .section-title h1 {
        color: rgb(255, 255, 255);
        font-size: 2.3rem;   
    }

    section .section-title {
      width: 100vw;
      height: 100vh;
      padding: 18rem 1.6rem 10rem 1.5rem;
      margin: 0;
    }
    .section-title .subtitle {
        font-size: 1.4rem;
        
    }
    section .div-scroll-down {
        display: flex;
        justify-content: center;
        padding-left: 1.5rem;
        margin-top: 5rem;
        width: auto;
        
    }
    section .div-scroll-down span {
        margin: 0;
        font-size: 1.8rem;
    }

    .colunas {
        background-color: black;
    }

}